.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.6;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: black;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem;
  font-weight: 600;
}

.home_menu_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.notice {
  flex-basis: 55%;
  overflow-y: auto;
}

.wod {
  flex-basis: 45%;
}

.home_menu_item_wrapper {
  padding: 10px 25px;
}

.home_menu_item_wrapper .detail_main_content {
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}
