.record_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.no_record {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  font-size: 18px;
}
