.title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin: 50px;
}

.line {
  border-bottom: 1px solid #e8e8e8;
  margin: 10px 0 20px 0;
}

.errorMessage {
  color: #be2e22;
  font-size: 15px;
  font-weight: 500;
}
