.write_button {
  background-color: white;
  color: rgba(0, 0, 0, 0.518);
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin: 4px 2px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(245, 222, 179, 0.606);
  transition: background-color 0.3s;
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
}

.write_button:hover {
  background-color: rgb(249, 225, 181);
  color: rgba(0, 0, 0, 0.649);
}

.write_button:active {
  background-color: rgb(255, 217, 146);
  color: rgba(0, 0, 0, 0.736);
}
