* {
  box-sizing: border-box;
  border-width: 0;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* 모바일에서 텍스트 크기 자동 조정 비활성화 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

body {
  margin: 0;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-radius: 5px;
  text-align: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
}

td {
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #bfbfbf;
  position: sticky;
  top: 0;
}

thead {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

tbody tr:hover {
  background-color: #bfbfbf49;
  opacity: 0.9;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 16px;
}

#root {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  font-size: 17px;
}

#action_button_root {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

@media (max-width: 600px) {
  /* Header */
  .header_logo {
    font-size: 27px;
  }
  .weight_lift_icon {
    width: 42px;
  }
  .header_menu_btn {
    margin-left: 14px;
    font-size: 15px;
  }
  /* Home */

  .home_menu_wrapper {
    display: block;
  }
  /* 공통 */
  .wrapper {
    padding: 50px 7px;
  }
  .title {
    margin-bottom: 20px;
  }
  /* NoPost */
  .no_post {
    margin-top: 20px;
  }
  /* WriteHold */
  .write_hold_wrapper {
    display: block;
    margin: auto;
  }
  .calendar_wrapper,
  .write_hold_info_wrapper {
    margin: 0 auto;
  }
  /* WriteRecord */
  .write_record_grade_wrapper {
    flex-direction: column;
  }
  .write_record_img_uploader,
  .write_record_text_recognizer {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 856px) {
  /* Header */
  .header_logo {
    font-size: 33px;
  }
  .weight_lift_icon {
    width: 51px;
  }
  .header_menu_btn {
    margin-left: 18px;
    font-size: 17px;
  }
  /* Home */

  .home_menu_wrapper {
    display: block;
  }
  /* 공통 */
  .wrapper {
    padding: 50px 20px;
  }
  .title {
    margin-bottom: 20px;
  }
  /* NoPost */
  .no_post {
    margin-top: 30px;
  }
  /* WriteHold */
  .write_hold_wrapper {
    display: block;
    margin: auto;
  }
  .calendar_wrapper,
  .write_hold_info_wrapper {
    margin: 0 auto;
  }
  /* WriteRecord */
  .write_record_grade_wrapper {
    flex-direction: column;
  }

  .write_record_img_uploader,
  .write_record_text_recognizer {
    flex-direction: column;
  }
}
@media (min-width: 856px) and (max-width: 1349px) {
  /* Header */
  .header_menu_btn {
    margin-left: 50px;
  }
  /* Home */
  .home_menu_wrapper {
    display: block;
  }
  /* 공통 */
  .wrapper {
    padding: 50px;
  }
  .title {
    margin-bottom: 20px;
  }
}
