* {
  box-sizing: border-box;
  border-width: 0;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  line-height: 1.5;
  tab-size: 4;
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-radius: 5px;
  text-align: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
}

td {
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #bfbfbf;
  position: sticky;
  top: 0;
}

thead {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

tbody tr:hover {
  background-color: #bfbfbf49;
  opacity: 0.9;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 16px;
}

#root {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  font-size: 17px;
}

#action_button_root {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

@media (max-width: 494px) {
  /* Header */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header_logo {
    font-size: 40px;
    margin-bottom: 17px;
  }
  .weight_lift_icon {
    width: 53px;
  }
  .header_menu_wrapper {
    display: flex;
    width: 100%;
  }
  .header_menu_btn {
    margin: 0 6px;
    font-size: 18px;
  }

  /* Home */
  .home_menu_wrapper {
    display: block;
    padding: 7px;
  }
  .home_menu_item_wrapper {
    padding: 0;
  }

  /* 공통 */
  .wrapper {
    padding: 50px 7px;
  }
  .title {
    margin-bottom: 20px;
  }

  /* NoPost */
  .no_post {
    margin-top: 20px;
  }

  /* ContentList */
  .article_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .article_title {
    width: 100%;
  }
  .article_write_info {
    font-size: 19px;
    font-weight: 600;
  }

  /* ContentWrite */
  .detail_title {
    width: 100%;
  }

  /* Hold */
  .hold_table_wrapper {
    padding: 0;
  }

  /* WriteHold */
  .rdp-table {
    width: 200px;
  }
  .write_hold_wrapper {
    display: block;
    padding: 0;
  }
  .calendar_wrapper,
  .write_hold_info_wrapper {
    margin: 0 auto;
  }

  /* Record */
  .record_grade_1,
  .record_grade_3 {
    display: flex;
    flex-direction: column;
  }

  /* WriteRecord */
  .write_record_grade_wrapper {
    flex-direction: column;
  }
  .write_record_img_uploader,
  .write_record_text_recognizer {
    flex-direction: column;
  }
}

@media (min-width: 495px) and (max-width: 600px) {
  /* Header */
  .header_logo {
    font-size: 27px;
  }
  .weight_lift_icon {
    width: 42px;
  }
  .header_menu_btn {
    margin-left: 14px;
    font-size: 15px;
  }

  /* Home */
  .home_menu_wrapper {
    display: block;
  }

  /* 공통 */
  .wrapper {
    padding: 50px 7px;
  }
  .title {
    margin-bottom: 20px;
  }

  /* NoPost */
  .no_post {
    margin-top: 20px;
  }

  /* WriteHold */
  .write_hold_wrapper {
    display: block;
    margin: auto;
  }
  .calendar_wrapper,
  .write_hold_info_wrapper {
    margin: 0 auto;
  }

  /* WriteRecord */
  .write_record_grade_wrapper {
    flex-direction: column;
  }
  .write_record_img_uploader,
  .write_record_text_recognizer {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 855px) {
  /* Header */
  .header_logo {
    font-size: 33px;
  }
  .weight_lift_icon {
    width: 51px;
  }
  .header_menu_btn {
    margin-left: 18px;
    font-size: 17px;
  }

  /* Home */
  .home_menu_wrapper {
    display: block;
  }

  /* 공통 */
  .wrapper {
    padding: 50px 20px;
  }
  .title {
    margin-bottom: 20px;
  }

  /* NoPost */
  .no_post {
    margin-top: 30px;
  }

  /* WriteHold */
  .write_hold_wrapper {
    display: block;
    margin: auto;
  }
  .calendar_wrapper,
  .write_hold_info_wrapper {
    margin: 0 auto;
  }

  /* WriteRecord */
  .write_record_grade_wrapper {
    flex-direction: column;
  }
  .write_record_img_uploader,
  .write_record_text_recognizer {
    flex-direction: column;
  }
}
@media (min-width: 856px) and (max-width: 1349px) {
  /* Header */
  .header_menu_btn {
    margin-left: 50px;
  }

  /* Home */
  .home_menu_wrapper {
    display: block;
  }

  /* 공통 */
  .wrapper {
    padding: 50px;
  }
  .title {
    margin-bottom: 20px;
  }
}
