@import "reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerifKR";
  src: url("/NotoSerifKR-Regular.otf");
}

body * {
  font-family: "NotoSerifKR";
}

#action_button_root {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}
