.detail_notice_title {
  font-size: 27px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 15px;
}

.detail_notice_head_detail {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail_notice_head_detail_left {
  padding-left: 5px;
}

.detail_notice_head_detail_left_writer {
  font-weight: 600;
  margin-right: 20px;
}

.detail_notice_head_detail_right_editBtn {
  margin-right: 15px;
}

.detail_notice_main_content {
  padding: 0 20px;
}
